
/*
violet très clair: #CDA7F2
violet: #6254BF
violet foncé: #171940
vert :#3CA638
rouge: #EFBFAB
*/

body{
    padding: auto;
    margin: auto;
}

#bleu_fonce{
    background-color: #171940 ;
    padding: 0.1%;
    color: #F2E3D5
}

#bleu_clair{
    background-color: #8C0FB2;
    padding: 0.1%;
}

h1{
    margin-left: 2%;
}

p.intro{
    font-size: 120%;
}

p{
    margin-left: 5%;
}

ul{
    margin-left: 60%;
    color: #F2E3D5
}

li{
    font-size: 200%;
}

div.image_macumba{
    height: 600px;
    background-image: url("image/macumba.jpg");
    background-size: cover;
    background-position: center;
}

div.contact{
    background-color: #171940;
    padding: 0.1%;
    font-size: 110%;
    color: #F2E3D5
}

img.image_foule{
    max-height: 350px;
    height: 100%;
    width: auto;
    padding: 2%;
    padding-left: 10%;
}

#tarifs{
    text-align: center;
    margin-left: 5%;
    color: #171940;
    font-size: 150%
}

