@font-face {
    font-family: 'JetBrains Mono Regular';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html{
    font-family: 'JetBrains Mono Regular';
    font-weight: 700;
    font-size: small;
    background-color: #161320
}

div{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

h1{
    color: gray;
}

h2{
    color: #E8A2AF
}

p{
    color: 	#DDA0DD;
}

a{
    color: cyan;
}

#key{
    color: orange;
}

#content {
    max-width: 80em;
    margin: auto;
}
header{
    max-width: 10em;
    margin: auto;
}
